# use pass & direnv to set our secrets in the shell environment

export TRIX_HOST=$(pass ls pkg/trix/host)  # matrix server hostname
export TRIX_USER=$(pass ls pkg/trix/user)  # matrix user
export TRIX_PASS=$(pass ls pkg/trix/pass)  # matrix user's password
export TRIX_ROOM=$(pass ls pkg/trix/room)  # matrix room
